/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* @import "../lib/jquery.niftymodals/src/less/style-bootstrap.less"; */
p.help-block {
    color: red;
    font-family: inherit;
}

input.has-error {
    border: 1px solid red;
}

.app-layout {
    background-image: url("../../frontend/images/theater_background.jpg");
    background-repeat: no-repeat;
}


.product_thumb
{
    width: 100px;
}

.nav-tabs>li>a.active {
    border: 2px solid #863033;
    border-bottom: none;
    color: black;
}

.nav-tabs > li {
    padding: 20px;
}

.bg-gradient-x-grey-blue {
    background-image: linear-gradient(to right, #802428 0%, #e1d1d1, #802428 100%);
    background-repeat: repeat-x;
}


.header-navbar.navbar-dark.navbar-border {
    border-bottom: 1px solid #81262a;
}

img.brand-logo {
    margin-top: -12px;
}

.pdng-20px {
    padding: 20px;
}
.padding-top-10px
{
    padding: 10px;
}
button.btn-import {
    margin: 20px;
}
.reset-all-btn-mrgn
{
    margin-right:10px;
}

.horizontal-menu .navbar-light ul#main-menu-navigation>li.active>a {
    border-bottom: 2px solid #81262a;
    background: #FFFFFF;
}

.messagevalalert {
    display: none;
}

.orderbybox {
    width: 50%;
    border-radius: 5px;
}

#venue-table .orderbybox {
    width: 30%;
    border-radius: 5px;
}

.popover-content.note-children-container {
    display: none;
}


.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: none !important;
    color: #000000 !important;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #000000 !important;
}

.btn-cal,
.btn-cal:hover,
.btn-cal:focus,
.btn-cal:active {
    border-color: #e4e4e4 !important;
    background-color: #e4e4e4 !important;
    color: #170f0f;
}


span.errmsgsoffer {
    color: red;
}

button.btn.offer_btn , .edit_offer_btn {
    float: right;
    margin-left: 10px;
}
.offer_btn_div
{
    margin: 10px 0;
}

button.plusoffers.btn,
.minusoffers,
.editoffers {
    margin-top: 25px;
    margin-right: 10px;
}

ul.nav.nav-tabs a {
    padding: 20px;
}

.location_dropdown_close,
.venue_dropdown_close,
.show_dropdown_close,
.dropdown_minus,
.dropdown_minus_all
{
    display: none;
}

ul.img-grp li img {
    width: 100px;
    height: 70px;
}
ul.img-grp li video {
    width: 200px;
    height: 100px;
    vertical-align: middle;
    border-style: none;
}

ul.img-grp li
{
    display: inline-block;
}

.imgRemove {
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    /* opacity: .5; */
    /* height: 38px; */
    /* width: 25px; */
    margin-top: 25px;
    color: #fff;
    overflow: hidden;
}

.glry-form-group
{
    margin-bottom: 1.5rem;
    text-align: center;
}

.glry-form-group img{
    width: 150px !important;
    height: 100px !important;
}
ul.img-grp li {position: relative;}

label.file_upload, .spartan_item_loader {height: 100px !important;}


.col-sm-1.spartan_item_wrapper {
    display: inline-block;
}
.scheduleDaysdivs
{
    display: flex;
}
.removeTextBox
{
    margin-right: 10px;
}

.col-sm-1.spartan_item_wrapper {display: flex !Important; flex-direction: column;}
#showImagesMultiple {display: flex;}

.imgEdit {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    height: 25px;
    width: 25px;
    color: #fff;
    overflow: hidden;
}



div#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 999999;
    align-items: center;
    display: flex;
    background-color: #0000006e;
}

#loading {
    display: block;
}

.existRecColor,
tr.existRecColor td label {
   color: red !important;
}

.changecolor label
{
    color: red !important;
}
input.control-label.cms_setting_checkbox {
    float: left;
    margin-left: 20px;
    margin-top: 2px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

label.description {
    display: inline-grid !important;
}


.imgGlry ul.img-grp li
{
    display: flex;
    list-style: none;
    margin-bottom: 20px;
}

legend {
    width: auto !important;
    margin-left: 10px;
}

fieldset {
    border-width: 2px !important;
    border-style: groove !important;
    border-color: threedface !important;
    border-image: initial !important;
    margin-bottom: 20px;
    padding: 15px;
}

.width-50-module {
    width: 50%;
    float: left;
}

.width-30-module {
    width: 30%;
    float: left;
}

.width-20-module {
    width: 20%;
    float: left;
}

.width-10-module {
    width: 10%;
    float: left;
}
.inner-mrg-10 .width-10-module
{
    width: 5%;
    margin-left: 15px;
}
.inner-mrg-10 .width-10-module .input-sm
{
    text-align: center;
}

.inner-mrg-10 .width-30-module {
    width: 30%;
    margin-left: 15px;
}