body {
    font-family: 'Poppins', sans-serif;
}

.page-title {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #414e69;
}

.page-title:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.60);
}

.sidebar-page-container .blog-list {
    padding-right: 60px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.page-title:after {
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    width: 450px;
    height: 100%;
    display: block;
    z-index: 11;
    background: url(../images/resource/banner-layer-1.jpg) repeat;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.blog-page {
    position: relative;
    padding: 150px 0px 75px;
}

.blog-page .inner-container {
    padding-bottom: 30px;
    margin-bottom: 75px;
    border-bottom: 1px solid #e4e4e4;
}

.blog-page .row {
    margin: 0px -28px;
}

.blog-page .news-block-two {
    padding: 0px 28px;
}

.news-block-two {
    position: relative;
    margin-bottom: 30px;
    /* min-height: 720px;
    max-height: 720px; */
}


.news-block-two .inner-box {
    position: relative;
    display: block;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.news-block-two .inner-box .image {
    position: relative;
}

.news-block-two .inner-box .image img {
    position: relative;
    width: 100%;
    display: block;
    border-radius: 10px 10px 0px 0px;
}

.news-block-two .inner-box .lower-content {
    position: relative;
    border-radius: 0px 0px 10px 10px;
    padding: 30px 28px 40px;
    background-color: #f1f1f1;
}

.news-block-two .inner-box .lower-content .post-meta {
    position: relative;
        margin: 0 0 10px 0;
}

.news-block-two .inner-box .lower-content .post-meta li {
    position: relative;
    color: #777777;
    font-size: 13px;
    font-weight: 400;
    margin-right: 20px;
    display: inline-block;
}

.news-block-two .inner-box .lower-content h3 {
    position: relative;
    color: #222222;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 6px;
}

.news-block-two .inner-box .lower-content .text {
    position: relative;
    line-height: 1.9em;
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 26px;
}

.news-block-two .inner-box .lower-content .theme-btn {
    padding: 9px 28px;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

.btn-style-three {
    position: relative;
    padding: 10px 50px;
    line-height: 24px;
    text-transform: uppercase;
    background: #ffffff;
    color: #333333;
    border: 2px solid #ffffff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50px;
    letter-spacing: 1px;
    -webkit-box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.15);
    font-family: 'Poppins', sans-serif;
}

.theme-btn {
    display: inline-block;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.news-block-two .inner-box .lower-content .post-meta li .icon {
    position: relative;
    color: #802428;
    font-size: 14px;
    margin-right: 6px;
}

.news-block-two .inner-box .lower-content h3 {
    position: relative;
    color: #222222;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 6px;
}

.news-block-two .inner-box .lower-content .text {
    position: relative;
    line-height: 1.9em;
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 26px;
}

.news-block-two .inner-box .lower-content h3 a:hover {
    color: #802428;
}

.news-block-two .inner-box .lower-content h3 a {
    position: relative;
    color: #222222;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

/* Stylish design */
.news-block-two.style-two .inner-box .lower-content {
    background-color: #fd6d92;
}

.news-block-two.style-three .inner-box .lower-content {
    background-color: #802428;
}

.news-block-two.style-two .inner-box .lower-content h3 a,
.news-block-two.style-two .inner-box .lower-content .text,
.news-block-two.style-two .inner-box .lower-content .post-meta li,
.news-block-two.style-two .inner-box .lower-content .post-meta li .icon {
    color: #ffffff;
}

.news-block-two.style-three .inner-box .lower-content h3 a,
.news-block-two.style-three .inner-box .lower-content .text,
.news-block-two.style-three .inner-box .lower-content .post-meta li,
.news-block-two.style-three .inner-box .lower-content .post-meta li .icon {
    color: #ffffff;
}

.news-block-two.style-four .inner-box .lower-content {
    background-color: #802428;
}

.news-block-two.style-four .inner-box .lower-content h3 a,
.news-block-two.style-four .inner-box .lower-content .text,
.news-block-two.style-four .inner-box .lower-content .post-meta li,
.news-block-two.style-four .inner-box .lower-content .post-meta li .icon {
    color: #ffffff;
}

@media only screen and (max-width: 767px) {

    .subscribe-section h2,
    .login-section h2,
    .blog-single .inner-box .lower-content h2,
    .news-block .inner-box .lower-content h3,
    .news-block-two .inner-box .lower-content h3 {
        font-size: 24px;
    }
}

.btn-style-three:hover {
    background: #ffffff;
    color: #222222;
    border-color: #ffffff;
}

/* Blog details */
.blog-single {
    position: relative;
    padding-right: 0px;
}

.blog-single .inner-box {
    position: relative;
}

.blog-single .inner-box .image {
    position: relative;
    margin-bottom: 0;
}

.blog-single .inner-box .image img {
    position: relative;
    width: 100%;
    display: block;
    border-radius: 10px 10px 0px 0px;
}

.blog-single .inner-box .lower-content {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.blog-single .inner-box .lower-content .post-meta {
    position: relative;
}

.blog-single .inner-box .lower-content h2 {
    position: relative;
    color: #222222;
    font-size: 30px;
    line-height: 1.2em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.blog-single .inner-box .lower-content .text {
    position: relative;
    margin-bottom: 40px;
}

.blog-single .inner-box .lower-content .text p {
    position: relative;
    color: #777777;
    font-size: 15px;
    line-height: 1.9em;
    margin-bottom: 20px;
}

.blog-single .inner-box .lower-content .text blockquote {
    position: relative;
    padding: 75px 75px;
    border: none;
    margin: 35px 0px;
    background-color: #fafafa;
    line-height: 43px;
}

.blog-single .inner-box .lower-content .text blockquote .blockquote-text {
    position: relative;
    font-weight: 300;
    color: #777777;
    line-height: 1.7em;
    font-size: 20px;
    padding-left: 20px;
    border-left: 5px solid #7c77f7;
}

.blog-single .post-share-options {
    position: relative;
    padding: 30px 0px 6px;
    border-top: 1px solid #e4e4e4;
}

.blog-single .post-share-options .tags {
    position: relative;
    color: #777777;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.blog-single .post-share-options .tags span {
    position: relative;
    color: #232323;
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
}

.blog-single .post-share-options .tags a {
    position: relative;
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
}

.blog-single .post-share-options .social-icon-two {
    top: -10px;
}

.social-icon-two {
    position: relative;
    display: inline-block;
    border: 1px solid #e0e0e0;
}

.social-icon-two a {
    position: relative;
    width: 36px;
    height: 36px;
    font-size: 15px;
    color: #777777;
    text-align: center;
    line-height: 38px;
    float: left;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border-right: 1px solid #e0e0e0;
}

.blog-single .post-share-options .social-icon-two {
    top: -10px;
}

.blog-single .inner-box .lower-content .post-meta li {
    position: relative;
    color: #777777;
    font-size: 13px;
    font-weight: 400;
    margin-right: 20px;
    display: inline-block;
}

.blog-single .inner-box .lower-content .post-meta li .icon {
    position: relative;
    color: #802428;
    font-size: 14px;
    margin-right: 6px;
}

.sidebar-page-container .comments-area {
    position: relative;
    margin-bottom: 40px;
    margin-top: 70px;
}

.sidebar-page-container .title-box {
    position: relative;
    margin-bottom: 30px;
}

.sidebar-page-container .title-box h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.sidebar-page-container .comments-area .comment-box {
    position: relative;
    padding: 50px 35px 50px;
    background-color: #fafafa;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.sidebar-page-container .comments-area .comment {
    position: relative;
    font-size: 14px;
    padding: 0px 0px 0px 88px;
}

.sidebar-page-container .comments-area .comment-box .author-thumb {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    overflow: hidden;
    margin-bottom: 20px;
}

.sidebar-page-container .comments-area .comment .comment-inner {
    position: relative;
}

.sidebar-page-container .comments-area .comment-info {
    color: #232323;
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
}

.sidebar-page-container .comments-area .comment-info strong {
    font-weight: 500;
}

.sidebar-page-container .comments-area .comment-info .comment-time {
    position: relative;
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
}

.sidebar-page-container .comments-area .comment-box .text {
    color: #777777;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 1.6em;
    font-weight: 300;
}

.comment-form {
    position: relative;
}

.general-box01 .latest-update-blk {
    background: #fff;
    box-shadow: 0 5px 0 #d9d9d9;
    padding: 20px 20px 10px 20px;
}

.sidebar-page-container .title-box h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.sidebar-page-container .title-box h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.comment-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.comment-form .form-group textarea {
    position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 20px 25px;
    color: #000000;
    height: 120px;
    font-size: 15px;
    resize: none;
    font-weight: 300;
    background-color: #fafafa;
    border: 1px solid transparent;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.btn-style-two {
    position: relative;
    padding: 12px 30px;
    line-height: 24px;
    text-transform: uppercase;
    background: #7c77f7;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 2px solid #7c77f7;
    font-family: 'Poppins', sans-serif;
}

.theme-btn {
    display: inline-block;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-style-two:hover {
    background: none;
    color: #7c77f7;
    border-color: #7c77f7;
}

.sidebar-title h2 {
    font-size: 20px;
    color: #232323;
    font-weight: 300;
    line-height: 1.2em;
    padding-bottom: 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #ececec;
}

.sidebar-title {
    position: relative;
    margin-bottom: 20px;
}

.about-widget .text {
    position: relative;
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.9em;
}

.about-widget {
    margin-bottom: 30px;
}

.sidebar .popular-tags a:hover {
    color: #ffffff;
    border-color: #802428;
    background-color: #802428;
}

.sidebar .popular-tags a {
    position: relative;
    display: inline-block;
    line-height: 24px;
    padding: 10px 28px 10px;
    margin: 0px 6px 10px 0px;
    color: #777777;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    background: none;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.social-icon-two a:hover {
    color: #ffffff;
    background-color: #802428;
}

.cat-list li a {
    position: relative;
    color: #777777;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
    padding-left: 25px;
    text-transform: capitalize;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.cat-list li {
    position: relative;
}

.cat-list li a:after {
    position: absolute;
    content: '\f0a9';
    left: 0px;
    top: 0px;
    color: #535353;
    font-size: 15px;
    font-family: 'FontAwesome';
}

.sidebar-widget {
    position: relative;
    margin-bottom: 35px;
    background: #fff;
    padding: 15px 20px;
}

.sidebar .popular-posts .sidebar-title {
    margin-bottom: 30px;
}

.sidebar .popular-posts .post {
    position: relative;
    font-size: 14px;
    color: #666666;
    padding: 0px 0px;
    padding-left: 100px;
    min-height: 100px;
    margin-bottom: 30px;
    padding-top: 2px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar .popular-posts .post .post-thumb {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 90px;
}

.sidebar .popular-posts .post .post-thumb img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    max-height: 100px;
    min-height: 100px;
}

.sidebar .popular-posts .post .text {
    position: relative;
    font-size: 13px;
    margin: 0px 0px 0px;
    font-weight: 500;
    color: #232323;
    line-height: 1.6em;
    padding-right: 0;
    text-transform: capitalize;
    width: 100%;
    text-align: left;
}

.sidebar .popular-posts .post .text a {
    color: #232323;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    margin: 0 0 10px 0;
    width: 100%;
}

.sidebar .popular-posts .post a,
.sidebar .popular-posts .post a:hover {
    color: #802428;
}

.sidebar .popular-posts .post-info {
    position: relative;
    font-size: 13px;
    color: #bcbcbc;
    font-weight: 300;
    width: 100%;
    margin: 10px 0 0 0;
}

.sidebar-page-container {
    position: relative;
    padding: 50px 0px 70px;
}

@media only screen and (max-width: 767px) {
    .blog-single .post-share-options .social-icon-two {
        top: 0px;
        width: auto;
        float: left !important;
        margin-top: 10px;
    }
    .news-block-two:last-child {
        position: relative;
        /* margin-bottom: 0px; */
    }
    .mrg-top-40 {
        margin-top: 40px;
    }
    .news-block-two .image a img {
        min-height: auto !important;
        max-height: auto !important;
    }
    .blog-single .image img {
        min-width: auto !important;
        max-height: auto !important;
        max-width: auto !important;
        min-height: auto !important;
    }
}

@media only screen and (max-width: 1140px) {

    .blog-single,
    .sidebar-page-container .blog-list,
    .main-footer .footer-upper .info-column .inner-column,
    .android-section .content-column .inner-column,
    .video-section .content-column .inner-column,
    .banner-section-two .content-column .inner-column {
        padding-right: 0px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .news-block-two:last-child {
        position: relative;
        /* margin-bottom: 0px; */
    }
    .mrg-top-40 {
        margin-top: 40px;
    }
    .news-block-two .image a img {
        min-height: auto !important;
        max-height: auto !important;
    }

    .blog-single .image img {
        min-width: auto !important;
        max-height: auto !important;
        max-width: auto !important;
        min-height: auto !important;
    }

}


.news-block-two .image a img {
    min-height: 450px;
    max-height: 450px;
}

.blog-single .image img {
    min-width: 700px;
    max-height: 400px;
    max-width: 700px;
    min-height: 400px;
}


/*  news  */
.width-50
{
    width: 50%;
}
.latest-update-blk.latestnews-box2 .post .post-thumb { position: absolute; left: 0px; top: 0px; width: 160px; height: auto; }
.latest-update-blk.latestnews-box2 .post { padding-left: 180px; }
.latest-update-blk.latestnews-box2 a.theme-btn.btn-style-three { background-color: transparent; color: #802428; padding: 0px 0px !important; line-height: 18px; float: left; box-shadow: none; border-bottom: 1px solid #802428; border-radius: 0px; padding: 0;
}
.latest-update-blk.latestnews-box2 a.theme-btn.btn-style-three:hover { color: #000000; border-bottom: 1px solid #000; }

.latest-update-blk.latestnews-box2 .btn-row-div { display: flex; align-items: flex-start; justify-content: flex-start; width: 100%; }
.latest-update-blk.latestnews-box2 .sidebar .popular-posts .post .text.text.heading-txt a{ font-size: 21px !important; font-weight: 500; color: #812529;margin: 0 0 10px 0; display: block; }
.latest-update-blk.latestnews-box2 .sidebar .popular-posts .post .text.heading-prag p { font-size: 14px !important; font-weight: 400; color: #777777; margin:0 0 10px 0; display: block;}
.latest-update-blk.latestnews-box2 .sidebar-widget { margin: 0 0 0 0; }
.latest-update-blk.latestnews-box2 .sidebar .post-info.news-date { position: absolute !important; top: -2px; display: inline; right: 0; color: #812529; width: auto; margin: 10px 0 0 0; text-align: right; }

.latest-update-blk.latestnews-box2 .title-sidebar {   padding: 0 20px 0px 20px; }
.latest-update-blk.latestnews-box2 .title-sidebar h2{ padding: 0 0px; color: #812529; padding-bottom: 10px; font-weight: 600;font-size: 28px; border-bottom: 1px solid #812529; }


@media only screen and (max-width: 767px) {

    .latest-update-blk.latestnews-box2 .post .post-thumb { position: relative;margin: 0 0 30px 0; }
    .latest-update-blk.latestnews-box2 .post { padding-left: 0; display: flex; justify-content: flex-start; align-items: flex-start; }
    .width-50 {
        width: 100% !important;
    }
    .latest-update-blk.latestnews-box2 .post .post-thumb {
        width: 100% !important;
        height: auto !important;
    }

    .general-box01 .latest-update-blk {padding: 20px 0 0 0;}
    .sidebar-widget {padding: 20px 5px;}
    .latest-update-blk.latestnews-box2 .title-sidebar {padding: 0 20px;}
    .sidebar .popular-posts .post .post-thumb img {
        min-height: 200px;
        max-height: 200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .latest-update-blk.latestnews-box2 .post .post-thumb {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 140px;
        height: auto;
    }
    .latest-update-blk.latestnews-box2 .post {
        padding-left: 150px;
    }
    .latest-update-blk.latestnews-box2 .sidebar .post-info.news-date { position: relative !important; top: 0; display: block; right: 0; color: #812529; margin: 0px 0 10px 0; text-align: left; left: 0; float: left; width: 100%;

    }

    .general-box01 .latest-update-blk {padding: 20px 0 0 0;}
    .sidebar .popular-posts .post .post-thumb img
    {
        min-height: 100px;
        max-height: 100px;
    }
}


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

    .latest-update-blk.latestnews-box2 .post .post-thumb {
        position: relative;
        width: 100%;
        height: auto;
    }
    .latest-update-blk.latestnews-box2 .post {
        padding-left: 110px;
    }
    .latest-update-blk.latestnews-box2 .post {
        padding-left: 0;
    }
    .sidebar-widget {padding: 20px 0;}
    .sidebar .popular-posts .post .post-thumb img {
        min-height: 200px;
        max-height: 200px;
    }
    .sidebar .popular-posts .post {
        max-height: 290px;
        min-height: 290px;
    }

}



/*  End of news  */

.sidebar .popular-posts .post {margin-bottom: 0;}