@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	background:#f2f2f2;
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
	font-family: 'Roboto', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
    cursor: pointer;
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

header{	position: fixed;top: 0;	left: 0;width: 100%;	min-height: 100px;	background-repeat: no-repeat;	background-position: center center;
	background-attachment: scroll;	background-size: cover;	z-index: 99999;}
header{ background-color: #fff; border-bottom:1px solid #ddd; }

.header-top {
    position: fixed;top: 0;	left: 0;width: 100%;	min-height: 100px;	background-repeat: no-repeat;	background-position: center center;
	background-attachment: scroll;	background-size: cover;	z-index: 9999;background-color: transparent;
}

.fixed-header {
	position: fixed;top: 0;	left: 0;width: 100%;	min-height: 100px;	background-repeat: no-repeat;	background-position: center center;
	background-attachment: scroll;	background-size: cover;	z-index: 9999;background-color: #00134d;
}

.header-div{ margin:0; padding:10px 0 0 0; position:relative;}

.logo-div { margin:0; padding:0; position:relative; float:left; width:12%;}
.top-right-blk-div { margin:0; padding:0; position:relative; float:right; width:85%;}
.top-left-blk { margin:0; padding:0; position:relative; float:left; width:65%;}

.top-search-div {}
.top-search-div .search-div{ margin:0; padding:0; background:#f1f1f1; border:1px solid #ddd; height:46px; line-height:46px; border-radius:6px;}
.top-search-div .search-i{ margin:0; padding:0 10px; background:transparent; border:0;}
.top-search-div .search-i i { color:#666; font-size: 20px; font-weight: normal;}
.top-search-div .search-input{margin:0; padding:0; background:transparent; border:0; width:90%; font-size:14px; color:#222;}

.top-right-div { margin:0; padding:10px 0 0 0; position:relative; text-align:right; float:right; width:30%;}

.log-reg-div {text-align: left; display: inline-block;margin: 0 20px 0 0;}
.log-reg-div .blue-btn{ margin:0; padding:5px 15px; border-radius:6px; background:#0078ff; color:#fff; font-size:12px; display:inline-block;}
.top-phone { text-align:right;display:inline-block; font-size:18px; color:#000;}


.nav-div { margin:10px 0 0 0;padding:0; position:relative;}
.nav-div .nav{ margin:0;padding:0;}
.nav-div .nav li{ margin:0;padding:0;}
.nav-div .nav li a{ margin:0 30px 0 0;padding:0 0 5px 0; font-size:14px; color:#222; font-weight:700; display:inline-block;}
.nav-div .nav li a:hover { border-bottom:3px solid #812529; color:#812529;}
.nav-div .nav li a.active { border-bottom:3px solid #812529; color:#812529;}

.nav-right-div { margin:0px 0 0 0;padding:0; position:relative; text-align:right; display:block; float:right;}
.nav-right-div .nav{ margin:0;padding:0;}
.nav-right-div .nav li{ margin:0;padding:0;}
.nav-right-div .nav li a {
    margin: 0 0px 0 30px;
    padding: 0 0 5px 0;
    font-size: 14px;
    color: #222;
    font-weight: 700;
    display: inline-block;
}
.nav-right-div .nav li a:hover { border-bottom:3px solid #812529; color:#812529;}
.nav-right-div .nav li a.active { border-bottom:3px solid #812529; color:#812529;}

.main-content{ margin:120px 0 0 0; padding:0; position:relative;}

.home-banner-div  { margin:0 0 0 0; padding:0; position:relative;}
.home-banner-div .owl-carousel .owl-item img { border-radius:6px;}

.two-block-section {margin:20px 0; padding:0; position:relative;}
.left-box-blk{margin:0 0 30px 0; padding:0;}
.left-box-blk h3{margin:0 0 10px 0; padding:0; font-size:18px; color:#333545; font-weight:400; text-transform: uppercase;}
.left-box-blk h2{margin:0 0 10px 0; padding:0; font-size:18px; color:#333545; font-weight:400; text-transform: uppercase;}
.white-box-blk{margin:0; padding:10px 0; background:#fff; box-shadow:0 5px 0 #d9d9d9;}
.white-box-blk ul{margin:0; padding:0;}
.white-box-blk ul li{margin:0; padding:13px 20px; border-bottom:1px solid #f2f2f2;}
.white-box-blk ul li:last-child { border-bottom:0;}
.white-box-blk ul li a{color:#222; font-size:14px;}
.white-box-blk .title-txt{margin:0; padding:0; color:#222; font-size:14px; display:block;}
.white-box-blk .price-txt{margin:0; padding:0;color:#c22423; font-size:14px; display:block;}
.link-more-div {margin:10px 0 0 0; padding:0;}
.blue-link {color:#2f89ef; font-size:14px; font-weight:400;}
.white-box-blk a:hover .title-txt {color:#2f89ef;}
.white-box-blk a:hover {color:#2f89ef;}

.listing-blk-section { margin:0; padding:0; position:relative;}
.listing-blk-div { margin:0; padding:0; width:100%;


}
.listing-blk-div .card{ margin:0 0 20px 0; padding:0; border:0;box-shadow:0 5px 0 #d9d9d9; border-radius:4px;}
.listing-blk-div .card:hover {box-shadow:0 0 10px #bebebe;}
.listing-blk-div .card-img{ margin:0; padding:0;}
.listing-blk-div .card-img img { border-top-left-radius: 6px; border-top-right-radius: 6px;width:100%}
.listing-blk-div .card-details{ margin:0; padding:10px; vertical-align:middle;}
.listing-blk-div .card-details .card-left{ margin:0; padding:0; display:inline-block; width:40%; float:left;  vertical-align:middle;}
.listing-blk-div .card-details .card-left .price-txt { color:#c22423; font-size:18px; font-weight:700;  vertical-align:middle; display:block; margin:10px 0 0 0;}

.listing-blk-div .card-details .card-title{ margin:0; padding:0;}
.listing-blk-div .card-details .card-right{ margin:0; padding:0; display:inline-block; width:70%; float:left; width:60%; vertical-align:middle;}
.listing-blk-div .card-details .card-right h4 { margin:0 0 5px 0; padding:0; color:#222; font-size:14px; font-weight:700;}
.listing-blk-div .card-details .card-right h5 { margin:0; color:#666; font-size:14px; font-weight:400;padding:8px 0 0 0}

.listing-blk-div .card-details .card-name{ margin:0; padding:0; display:inline-block; vertical-align:middle; width:100%; height:50px;position: relative; }
.listing-blk-div .card-details .card-name h2 { margin:0 0 5px 0; padding:0; color:#222; font-size:15px; font-weight:700;}
/* .listing-blk-div .card-details .card-name h4 { margin:0 0 5px 0; padding:0; color:#222; font-size:14px; font-weight:700;} */
.listing-blk-div .card-details .card-price{ margin:0; padding:0; display:inline-block; vertical-align:middle; width:100%;}
.listing-blk-div .card-details .card-price .price-txt { color:#c22423; font-size:18px; font-weight:700;  vertical-align:middle; display:block; margin:0;}

footer { margin:0; padding:40px 0 0 0; position:relative; background:#333338;}
.footer-div{ margin:0; padding:0; }
.footer-div .footer-top-div{ margin:0; padding:0; color:#babac2; font-size:12px;}
.footer-div .footer-li{ margin:0; padding:0; }
.footer-div .footer-li li{ margin:0; padding:0;  float:left; width:48%; line-height:24px;}
.footer-div .footer-li li a{ margin:0; padding:0; color:#babac2; font-size:12px; }
.footer-div .footer-li li a:hover { color:#fff;}
.footer-div p{ margin:0; padding:0; line-height:18px; color:#babac2; font-size:12px;}

.footer-div .footer-img-div { text-align:right;}
.footer-div .footer-img-div span { display:inline-block; margin:0 0px 0 50px;}

.footer-div .copyright-div { margin:30px 0 0 0; padding:30px 0; background:#1e1d23; color:#fff; font-size:12px; }
.footer-div .copyright-div .copy-txt { margin:0; padding:0; display:inline-block;}
.footer-div .copyright-div .footer-social{ margin:0; padding:0;display:block; text-align:right;}
.footer-div .copyright-div .footer-social a{ margin:0 0 0 20px; padding:0; color:#fff; font-size:18px;}
.footer-div .copyright-div .footer-social a:hover { color:#cc3e44;}

.newsletter-div { margin:0 auto 40px auto; padding:0; text-align:center; position:relative;}
.newsletter-div .newsletter-box{ margin:0 auto; padding:0; text-align:left; position:relative; background:#fff; border-radius:4px; height:52px; line-height:50px; width:60%; vertical-align:middle;}
.newsletter-div .newsletter-input{ margin:0; padding:0 0 0 20px; background:transparent; border:0;  color:#666; font-size:14px; height:45px; line-height:45px; width:83%; vertical-align:middle;}
.newsletter-div .newsletter-btn{ margin:0; padding:0 30px; background:#0078ff; color:#fff; font-size:14px; text-transform:uppercase; border:0;border-radius:4px;height:40px; line-height:40px; vertical-align:middle; cursor:pointer;}

.listing-blk-links-div{ margin:0 20px 15px 0px; padding:0; position:relative; }
.listing-blk-links-div .listing-blk-links{ margin:0; padding:0;}
.listing-blk-links-div .listing-blk-links ul{ margin:0; padding:0;}
.listing-blk-links-div .listing-blk-links ul li{ margin:0 30px 0 0; padding:0; display:inline-block;}
.listing-blk-links-div .listing-blk-links span{ margin:0; padding:0; color:#333545; font-size:18px; font-weight:700; cursor:pointer;}
.listing-blk-links-div .listing-blk-links span:hover { color:#812529;}
.listing-blk-links-div .listing-blk-links span.active { color:#812529;}


.listing-blk-links-div .listing-blk-links{ margin:0; padding:0;}
.listing-blk-links-div .link-div{ margin:0; padding:0; font-size:14px; color:#2f89ef;}
.listing-blk-links-div .link-div a{ font-size:14px; color:#2f89ef;}




.desktop-hidden { display:none;}
.user-blk-div { margin:0; padding:40px 20px;}
.user-blk-div .user-div{ margin:0; padding:0;}
.inside-blk {margin:100px 0!important; }
#div2, #div3, #div4, #div5 { display: none;}

.book-ticket-blk-div { margin: 0; padding: 10px 20px; position: relative;}
.book-ticket-blk-div h2{ margin: 0 0 20px 0; padding: 0 0 10px 0; color:#812529; font-size: 16px;font-weight: 700; text-transform: uppercase; border-bottom:1px solid #ddd; }
.book-ticket-blk-div .bt-blk-row{ margin: 0 0 20px 0; padding: 0;}
.book-ticket-blk-div .bt-blk-row.last { margin-bottom: 0;}
.book-ticket-blk-div .bt-blk-row label{ margin: 0 0 5px 0; padding: 0; color:#666; font-size: 14px;}
.book-ticket-blk-div .bt-blk-row .inputbox{ margin: 0; padding: 0; color:#666; font-size: 14px;}
.book-ticket-blk-div .form-control { font-size: 14px!important;}
.book-ticket-blk-div .ticket-icon-div  {display: inline-block; vertical-align: middle; margin: 0 0 0 10px;}
.book-ticket-blk-div .ticket-icon-div .ticket-icon {background: url(../images/icons/movie-tickets.svg) no-repeat; width:30px; height: 30px; display: inline-block;  vertical-align: middle;}
.book-ticket-blk-div .col-input { width: 75%; display: inline-block;  vertical-align: middle;}
.book-ticket-blk-div .btn-red { margin-top: 30px;}

.form-control { border-radius: 0!important;}
.btn-red { padding: 0; background: #812529; color:#fff; font-size: 14px; text-align: center; height: 34px; line-height: 34px; border-radius: 4px; cursor: pointer; border: 0; display: block; width: 100%;  }
.btn-red:hover { background: #540d10;}

.latest-update-blk-section{ margin: 20px 0; padding:0; position: relative; }
.latest-update-blk-section .latest-update-blk-div{ margin: 5px 0; padding:0;}
.latest-update-blk-section .latest-update-blk-div.last { margin-bottom: 0;}
.latest-update-blk-section .latest-update-blk-div h5{ margin: 0 0 5px 0; padding:0; color:#666; font-size: 13px; font-weight: 300;}
.latest-update-blk-section .latest-update-blk-div h3{ margin: 0 0 10px 0; padding:0; color:#222; font-size: 18px; font-weight: 700;}
.latest-update-blk-section .latest-update-blk-div h2{ margin: 0 0 10px 0; padding:0; color:#222; font-size: 18px; font-weight: 700;}
.latest-update-blk-section .latest-update-blk-div p{ margin: 0 0 10px 0; padding:0; color:#666; font-size: 14px; font-weight: 300; line-height: 20px;}
.latest-update-blk-section .latest-update-blk-div .price-txt{ margin: 0; padding:0; color:#812529; font-size: 14px; font-weight: 700;}
.latest-update-blk-section .latest-update-blk { background: #fff; box-shadow: 0 5px 0 #d9d9d9; padding-top:10px;}
.latest-update-blk-section .latest-update-blk-div figure { overflow: hidden; background: #222;}
.latest-update-blk-section .latest-update-blk-div figure img{ -webkit-transition:all 0.25s ease-in-out; 	-moz-transition:all 0.25s ease-in-out; 	-o-transition:all 0.25s ease-in-out;	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out; width: 100%;}
	.latest-update-blk-section .latest-update-blk-div figure:hover img{opacity: 0.8;
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);}


.listing-blk-div .card-desc{ margin:0 10px 10px 10px; padding:10px 0 0 0; border-top:1px solid #ddd;}
.listing-blk-div .card-desc p{ margin:0; padding:0; color:#666; font-size: 13px; line-height: 18px;}

.listing-blk-div .card-img { overflow: hidden; height:382px;}
.listing-blk-div .card-img img{webkit-transition:all 0.25s ease-in-out; 	-moz-transition:all 0.25s ease-in-out; 	-o-transition:all 0.25s ease-in-out;	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out; }
.listing-blk-div .card-img:hover img {opacity: 0.8;
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
}

.blk-title { margin: 0 0 0 -15px; padding: 0; color:#812529; font-size:18px; font-weight: 700; float: left; }
.mb20 { margin-bottom: 20px!important}
.p20 {padding: 20px 20px; }
.ptlr20 {padding: 20px 20px 10px 20px; }

.new-badge { margin: 0; padding: 5px 20px; background: #812529; color:#fff; font-size:13px; font-weight: 400; border-radius: 4px; display: inline-block; position: absolute; right:10px; top:10px; box-shadow: 0 0 5px 0 #222; z-index: 11;}

.booking-blk-div h3 { margin: 0 0 15px 0; padding:0; color:#222; font-size: 14px; font-weight: 700; }
.booking-blk-div p { margin: 0 0 15px 0; padding:0; color:#444444; font-size: 14px; font-weight: 400;  line-height: 18px;}
.booking-blk-div p:last-child { margin-bottom: 0;}
.booking-blk-div span { display: block}
.booking-blk-div .cap-txt { text-transform: uppercase}
.booking-blk-div .normal-txt {color:#444444; font-size: 14px; font-weight: normal;}

.playing-blk-div h3 {  margin: 0 0 10px 0; text-align: left; padding: 0px !important; color:#222; font-size: 14px; font-weight: 700; background-color: #fff !important;; }
.playing-blk-div h3 a {color: #812529 !important; text-decoration: underline;}
.playing-blk-div ul li iframe {margin-top: 15px;}
.playing-blk-div p { margin: 0 0 15px 0; padding:0; color:#444444; text-align: left; font-size: 14px; font-weight: 400;  line-height: 18px;}
.playing-blk-div p:last-child { margin-bottom: 0;}
.playing-blk-div ul { margin: 0; padding: 0;}
.playing-blk-div ul li { margin: 0 0 15px 0; padding: 0; border:0; vertical-align: middle; text-align: left;}
.playing-blk-div ul li:last-child { margin-bottom: 0;}
.playing-blk-div ul li a{ margin: 0; padding: 0; color:#222; font-size: 14px; vertical-align: middle;}
.playing-blk-div ul li a:hover { color:#812529;}
.playing-blk-div ul li span { margin-right: 5px; color:#812529;}

.show-info-blk-div .txt {margin: 0 0 15px 30px; padding:0; color:#444444; font-size: 14px; font-weight: 400;  line-height: 18px; display: block;}
.show-info-blk-div p:last-child { margin-bottom: 0;}
.show-info-blk-div .glyph-icon { margin: 0; position: absolute;}

.show-sch-blk-div p {margin: 0 0 5px 0; padding:0; color:#444444; font-size: 14px; font-weight: 400;  line-height: 18px;}
.show-sch-blk-div .day-txt {margin: 0; padding:0; color:#222; font-size: 14px; font-weight: 400;  line-height: 18px; display: inline-block; position: absolute;}
.show-sch-blk-div .time-txt {margin: 0 0 0 50px; padding:0; color:#666; font-size: 14px; font-weight: 400;  line-height: 18px; display: inline-block; }

.our-promise-blk-div ul { margin: 0; padding: 0;}
.our-promise-blk-div ul li { margin: 0 0 5px 0; padding: 0; border: 0;   color:#222; font-size: 14px; vertical-align: middle;}
.our-promise-blk-div ul li .check-icon { background: url(../images/icons/chexkmark.png) no-repeat; width: 12px; height: 8px; display: inline-block; margin: 0 10px 0 0;}

.detail-content-div { margin: 0; padding:0; position: relative;}
.detail-content-div h5 { margin: 0 0 15px 0; padding:0; color:#454447; font-size: 20px; font-weight: 700; line-height: 20px;}
.detail-content-div p { margin: 0 0 15px 0; padding:0; color:#333; font-size: 14px;  line-height: 20px;}


.spl-offers-div{ margin: 0 0 20px 0; padding:0; position: relative; background: #fff;}
.spl-offers-div h4 { margin: 0 0 0px 0; text-align: left; padding:10px 20px; color:#fff; font-size: 18px; font-weight: 700; background: #812529;}
.spl-offers-div p { padding:0; color:#666; font-size: 14px;  line-height: 20px;}
.spl-offers-div .price { margin: 0 ; padding:0; color:#812529; font-size: 14px; font-weight: 700;  line-height: 20px;}
.spl-offers-div .txt-1 p {font-size: 13px;}
.spl-offers-div p strong {font-size: 14px;}
.spl-offers-div .spl-offers-blk-txt { margin: 0; padding: 0 20px 0px 20px;}
.spl-offers-div .spl-offers-blk-txt .txt-1{ margin: 0; padding: 0; float: left; width: 50%;}
.spl-offers-div .spl-offers-blk-txt .txt-2{ margin: 0; padding: 0; float: left; width: 15%; text-align: center;}
.spl-offers-div .spl-offers-blk-txt .txt-3{ margin: 0; padding: 0; float: left; width: 15%; text-align: center;}
.spl-offers-div .spl-offers-blk-txt .txt-4{ margin: 0; padding: 0; float: left; width: 15%; text-align: center;}
.spl-offers-div .txt-3 .price {font-size: 15px;}


.show-top-img-div{ margin: -20px 0 0 0; padding:0; position: relative;}
.show-top-img-div .show-top-img{ margin: 0; padding:0; /*background: url(../images/show-img.jpg) no-repeat;*/ width:100%; height: 370px; background-size:cover!important; }
.show-top-img-div .show-top-content{ margin: 0; padding:0; position: absolute; top:230px; left: 300px; width: 100%; z-index: 11; }
.show-top-img-div .show-top-content h2{ margin: 20px 0 30px 0; padding:0; color:#fff; font-size: 30px; font-weight: 700; }
.show-top-img-div .show-top-content .date-time-div{ margin: 0; padding:0; color:#fff; font-size: 20px; font-weight: 400;  vertical-align: middle;}
.show-top-img-div .show-top-content .date-time-div .date-div{ margin: 0; padding:0; float:left; width: 25%;  vertical-align: middle;}
.show-top-img-div .show-top-content .date-time-div .time-div{ margin: 0; padding:0; float:left; width: 25%;  vertical-align: middle;}
.show-top-img-div .show-top-content .date-icon { background: url("../images/icons/cal-icon.png") no-repeat; width: 37px; height: 37px; background-size:cover; display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}
.show-top-img-div .show-top-content .time-icon { background: url("../images/icons/clock-icon.png") no-repeat; width: 37px; height: 37px; background-size:cover; display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}

.show-poster-div img { width: 100%;}

.detail-booking-box { margin-top: -150px;}

.about-txt-div {margin: 0; padding:0;}
.about-txt-div h4 {margin: 0 0 15px 0; padding:0; color:#89181c; font-size: 20px; font-weight: 700; line-height: 20px;}
.about-txt-div p {margin: 0 0 15px 0; padding:0; color:#444; font-size: 14px;  line-height: 20px;}

.menu-bar-div { display: none;}
.closebtn{ display: none;}
.m-logout{ display: none; margin: 50px 0 0 0!important; border-top:1px solid rgba(255,255,255,0.1); padding: 10px 0!important;}
.m-log-reg-div {display: none;}

.contact-txt-div {margin: 0; padding:0;}
.contact-txt-div h4 {margin: 0 0 15px 0; padding:0; color:#89181c; font-size: 20px; font-weight: 700; line-height: 20px;}
.contact-txt-div p {margin: 0 0 15px 0; padding:0; color:#444; font-size: 14px;  line-height: 20px;}
.contact-txt-div p a {color:#89181c;}
.contact-txt-div p a:hover {color:#000; text-decoration: underline;}
.contact-form-div { margin: 0; padding:20px; background: #fff;}
.contact-form-div label { vertical-align: middle; padding-top: 10px;}
.contact-form-div .row { margin-bottom: 15px;}
.sbtn { margin: 0; padding: 10px 20px; background: #89181c; color:#fff; font-size: 14px; text-transform: uppercase; display: inline-block; cursor: pointer; border: 0;}
.sbtn:hover { background: #222;}

/* changes by hasmat */

.tab-label1{ padding: 0;margin: 0; }

.category-box-blk{ padding: 0;margin: 0;position: relative; }
.category-box-blk ul{ padding: 0;margin: 0; }

/*
.category-box-blk ul li{ padding: 0;margin: 0;display: inline-block;padding-right: 1px; }
.category-box-blk ul li a { padding: 5px 10px;margin: 0 0 5px 0;background: #812529;color: #fff;display: inline-block;font-size: 13px; }
.category-box-blk ul li a:hover, .category-box-blk ul li a:focus, .category-box-blk ul li a:active { background: #000;color: #fff; }
*/

.category_div{ padding: 0;margin: 0 0 25px 0; }
.category_div h3{  padding: 0;color: #812529;font-size: 18px;font-weight: 700;float: left;display: block;width: 100%;margin: 0 0 10px 0; }

/* white card */

.category-box-blk ul li { padding: 0;margin: 0 0.5% 5px 0;display: inline-block;padding-right: 1px;width: 49.5%;float: left; }
.category-box-blk ul li a{ padding: 10px;margin: 0;display: block;background-color: #fff;color: #222; }
.category-box-blk ul li:hover a{ color: #812529; }

.general-box01{ padding: 0;margin: 0; }
.general-box01 .grid-08 { padding: 0 10px 0 0; }
.general-box01 .news-grid8 h3 { margin: 0 0 5px 0; }
.general-box01 .news-grid8 .date-p{ padding: 0!important;margin: 4px 0 4px 0!important;color: #222 !important;font-size: 13px; }

.general-box01{ margin: 0px 0 30px 0; padding:0; position: relative; }
.general-box01 .latest-update-blk-div{ margin: 5px 0; padding:0; }
.general-box01 .latest-update-blk-div.last { margin-bottom: 0;}
.general-box01 .latest-update-blk-div h5{ margin: 0 0 5px 0; padding:0; color:#666; font-size: 13px; font-weight: 300;}
.general-box01 .latest-update-blk-div h3{ margin: 0 0 5px 0; padding:0; color:#222; font-size: 16px; font-weight: 700;}
.general-box01 .latest-update-blk-div p{ margin: 0 0 10px 0; padding:0; color:#666; font-size: 14px; font-weight: 300; line-height: 20px;margin: 0 0 2px 0; }
.general-box01 .latest-update-blk-div p a{ color:#666;text-transform: capitalize; }
.general-box01 .latest-update-blk-div .price-txt{ margin: 0; padding:0; color:#812529; font-size: 14px; font-weight: 700;}
.general-box01 .latest-update-blk { background: #fff; box-shadow: 0 5px 0 #d9d9d9; padding:20px;}
.general-box01 .latest-update-blk-div figure { overflow: hidden; background: #DDD; width:100%; margin:0 auto; text-align:center;}
.general-box01 .latest-update-blk-div figure img{ -webkit-transition:all 0.25s ease-in-out; 	-moz-transition:all 0.25s ease-in-out; 	-o-transition:all 0.25s ease-in-out;	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out; width: 80px;}
	.latest-update-blk-section .latest-update-blk-div figure:hover img{opacity: 0.8;
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
}

.bold-600{ font-weight: 500!important;color: #222; }

.latest-news-details{ padding: 0;margin: 0; }
.latest-news-details .latest-update-blk-div .date-p { color: #222;margin-bottom: 5px; }
.right-p2 { padding-right: 4px; }
.latest-news-details h3.h3-details { font-size: 24px!important;font-weight: 500!important;margin: 0 0 10px 0;   }

.read-more{ color:#007bff!important;display: inline-block;font-weight: 300; }

.theature-div .latest-update-blk-div p a{ color: #812529; }
.theature-div .latest-update-blk-div p a:hover{ color: #222; }
.theature-div .latest-update-blk-div p { font-size: 13px; }
.theature-div .latest-update-blk-div{ min-height: 80px;

    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out,-webkit-transform .5s ease-out;
	transition: transform .5s,-webkit-transform .5s ease-out;}

.theature-div .latest-update-blk-div:hover {
	-webkit-box-shadow: 0 0 12px 0 rgba(173,173,173,.6);
    box-shadow: 0 0 12px 0 rgba(173,173,173,.6);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
	cursor: pointer;
}

.show-top-img:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    /* background-image: linear-gradient(127deg, #000000 0%, #000000 91%); */
    z-index: 0;
}

.width-100{ width: 100%; }
.general-box01 .latest-update-blk-div .general-grid7{ padding: 5px 10px 0 0; }

.collapse-div{ margin: 0;padding: 0; }
.collapse-div .wrapper-block{ margin: 0;padding: 0;width:100%; }
.collapse-div .wrapper-block .card.card-cuatom01 { margin: 0 0 10px 0px;border-radius: 0px; }
.collapse-div .card-cuatom01 .card-header{ padding: 0;margin: 0;border: 0px; }
.collapse-div .card-cuatom01 .card-link{ display:block; padding:10px 40px 8px 15px; color:#666; font-size:15px; font-weight:500; letter-spacing:1px;  text-decoration:none;background-color: #fff;line-height: 24px; }
.collapse-div .card-cuatom01 .card-body { padding: 15px;font-size: 15px;line-height: 20px;border-top: 1px solid rgba(0,0,0,.125); }
.collapse-div .card-cuatom01 .card-link[aria-expanded="true"]:after { content: "\f077"; }
.collapse-div .card-cuatom01 .card-link:after { content: "\f078";font: normal normal normal 14px/1 FontAwesome;position: absolute;right: 15px;top: 14px; }

.general-all-div h4 { margin: 0 0 15px 0;padding: 0;color: #89181c;font-size: 20px;font-weight: 700;line-height: 20px; }
.general-all-div .policy-div p { margin: 0 0 15px 0; padding: 0; color: #444; font-size: 14px; line-height: 20px; }

.header-center{ display: flex;justify-content: center;align-items: center; }
.header-center .header-div { padding: 0px 0 0 0; }
h4.text-center.h4-big { font-size: 24px; margin: 30px 0 20px 0; }

.under-construct{ padding: 0;margin: 0 0 40px 0; }
.under-construct .redirect-link { padding: 10px 20px;margin: 10px 0 0px 0;text-align: center;color: #2f89ef; font-size: 16px;background: #812529;color: #fff;border-radius: 4px;border: 0; }
.link-blk-div{ margin: 30px 0 0 0; }

.main-content.center-blk { margin: 0px 0 0 0; padding: 0; position: relative; height: 100vh; overflow: hidden; display: flex; justify-content: center; align-items: center; }

/* End of Changes */

.pagination-div { margin:20px 0 0 0; padding:0; position:relative; float: right;}
.pagination-div .page-link{color:#666!important; font-size:14px;}
.pagination-div .page-item.active .page-link {background-color: #812529!important;border-color: #812529!important; color:#fff!important;}
.latest-update-blk-div a:hover h3 { color:#812529;}

#searchResult { margin:0;padding:0; width:100%; position:relative;}
.autocomplete-search-div { margin:0; padding:20px 20px 10px 20px; position:absolute; top:3px; width:100%; background:#fff; z-index:111; border: 1px solid #ddd;box-shadow: 0 0 5px 0 #ccc;}
.autocomplete-search-div h3{ margin:0; padding:0; font-size:14px; color:#222;}
.autocomplete-search-div ul{ margin:0; padding:0;}
.autocomplete-search-div ul li{ margin:10px 0; padding:0;}
.autocomplete-search-div ul li a{ margin:0; padding:0; font-size:12px; color:#666;}
.autocomplete-search-div ul li a:hover { color:#812529;}



/* added by aakhil */


.listing-blk-div .card-img {max-height: 180px !important; height: 100% !important; }
.card-offer p {padding: 5px 10px; background-color: red; color: #fff; display: block; text-align: center; width: auto; line-height: 24px; margin: 10px 0;}
.choose-date p {color: #812529; margin: 15px 0; font-size: 13px;}
.mobileList {padding: 15px;}

/* slide img */
.home-banner-div .owl-carousel .owl-item img {height: 355px; width: 100%;}

/* .show-sch-blk-div .day-txt {text-align: left; width: 10%; margin: 5px; display: inline-block; position: relative;}
.show-sch-blk-div .time-txt {text-align: center; width: 20%; margin: 5px; display: inline-block;} */

.show-sch-blk-div .day-txt {
    text-align: right;
    width: 20%;
    margin: 5px;
    display: inline-block;
    position: relative;
}

.show-sch-blk-div .time-txt {
    text-align: center;
    width: 32%;
    margin: 5px;
    display: inline-block;
}

.booking-blk-div .normal-txt {display: inline-block;}
.booking-blk-div span {display: inline-block;}
/* .left-box-blk.heading-maroon  h3 {background-color: #812529; margin-bottom: 0; color: #fff; padding: 10px;} */

.inner-img-blk-banner-div {
    margin: 0 0 40px 0;
    padding: 0;
    position: relative;
}
.inner-img-blk-banner-div .owl-carousel .owl-item img {
    border-radius: 6px;
}
.inner-img-blk-banner-div .owl-carousel .owl-item img {
    height: 200px;
    width: 100%;
}

.showlist {background-color: #fff; padding: 20px; }

.bg-detail-content {background-color: #fff; padding: 20px;}
.showlist h3 {margin: 0 0 20px 0;padding: 0 0 10px 0;color: #812529;font-size: 16px;font-weight: 700;text-transform: uppercase;}
.mtop20 {margin-top: 20px;}

.alert-danger button.close { position: relative;  color: #812529 !important;}
.alert {height: 50px;line-height: 25px; background-color: #812529; color: #fff; width: 70%;}
.alert button.close { position: relative;  color: #fff; opacity: 1;}



.venue-dtl {color: #000 !important;}
.venue-dtl span {border-bottom: 2px solid #000;}
.venue-address {font-size: 16px !important;}

.owl-theme .owl-dots .owl-dot {display: none !important;}

@media only screen and (max-width: 767px){
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.container { width:100% !important;}
	.canvas { margin:0!important; padding:0!important;}

	.main-content { margin: 175px 0 0 0;}
	.home-banner-div { margin:0;}

	.m-top-right-div { width: 100%; padding-top: 0; margin-top: -5px;}

	.top-phone { font-size: 14px; margin-top: 5px;}

	.desktop-hidden { display:block;}
	.m-top-phone-div { float:right; width:100%; margin:20px 0; text-align:right;}
	.m-top-sign-nav-div { clear:both; float:right; text-align:right; width:100%;}
	.log-reg-div { text-align:right; display:inline-block; margin-top: 10px;}
	.menu-bar-div{ text-align:right; display:inline-block; position: absolute; top:10px; right:20px;}

	.logo-div {  width:40%;}
	.logo-div img { z-index: 1111;}
	.top-right-blk-div{ float:right; width:100%; margin:10px 0;}
	.top-left-blk{ width:100%; margin: 10px 0 0 0;}
	/*.nav-div, .top-right-div { display:none;}*/
	.top-search-div .search-input { width:82%;}
	header { height:auto;}

	.newsletter-div .newsletter-box { width:100%;}
	.newsletter-div .newsletter-input { width:65%;}
	.footer-div .footer-li { margin-bottom:30px;}
	.footer-div .footer-img-div {  text-align: center;}
	.footer-img-div{ margin-top:30px; text-align:center;}
	.footer-div .footer-img-div span { display: block;  margin: 0 0px 20px 0px;}
	.footer-div .copyright-div .copy-txt{ text-align:center;display: block;  margin: 0 0px 20px 0px;}
	.footer-div .copyright-div .footer-social{ text-align:center;}

	.listing-blk-links-div .listing-blk-links { float:none; width:100%; margin-bottom:20px;}
	.listing-blk-links-div .listing-blk-links span { font-size:14px;}
	.listing-blk-links-div .listing-blk-links ul li { margin-right:15px;}
	.home-banner-div { margin-top:20px;}

	.newsletter-div { margin-bottom: 80px;}
	.newsletter-div .newsletter-btn { width: 100%; display: block; margin: 10px 0 0 0;}

	.detail-booking-box { margin-top: 100px !important;}
	.show-top-img-div .show-top-content { margin-left: 0; top: 150px;left: 0;padding: 0 20px;}
	.show-top-img-div .show-top-content .date-time-div .date-div { width: 100%;}
	.show-top-img-div .show-top-content .date-time-div .time-div { width: 100%; margin: 20px 0;}
	.spl-offers-div .spl-offers-blk-txt .txt-1{ width: 32%; margin: 0 0 10px 0;}
	.spl-offers-div .spl-offers-blk-txt .txt-2, .spl-offers-div .spl-offers-blk-txt .txt-3, .spl-offers-div .spl-offers-blk-txt .txt-4 { width: 33%;}


	.sidenav .nav-div { padding: 20px 20px 0 20px;}
	.sidenav .nav-div .nav li { margin: 0 0 10px 0; padding: 0 0 10px 0; display: block; width: 100%; float: left; border-bottom:1px solid rgba(255,255,255,0.1);}
	.sidenav .nav-div .nav li a { display: block; font-weight: 500; margin: 0; padding: 0; color:#fff;}
	.sidenav .nav-div .nav li a:hover { border-bottom:0;color:#e1cf33!important;}
	.sidenav .top-right-div {width: 100%;	float: left; text-align: left; padding: 0 20px 0 20px; margin: 0;}
	.sidenav .nav-right-div {width: 100%;	float: left; text-align: left; padding: 0; margin: 0;}
	.sidenav .nav-right-div .nav li{ margin: 0 0 10px 0; padding: 0 0 10px 0; display: block; width: 100%; float: left; border-bottom:1px solid rgba(255,255,255,0.1);}
	.sidenav .nav-right-div .nav li a{ display: block; font-weight: 500; margin: 0; padding: 0; color:#fff;}
	.sidenav .nav-right-div .nav li a:hover{ border-bottom:0; color:#e1cf33!important;}

	.m-log-reg-div { margin: 10px 0 0 0; padding: 0; width: 100%; display: block;}
	.m-log-reg-div .blue-btn {background: #fff; 	margin: 0 auto;		padding: 10px 0;width: 90%;	border-radius: 4px;	display: block;	text-align: center; color:#812529; font-size: 14px;}
	.m-log-reg-div .blue-btn:hover { background: #e1cf33; color:#fff;}
	.m-log-reg-div .welcome-txt{ margin: 0; padding: 20px; width: 100%; color:#fff; font-size: 14px;}
	.m-log-reg-div .welcome-txt a { display: inline-block; padding: 0; color:#e1cf33; font-size: 14px;}
	.m-log-reg-div .welcome-txt a:hover { display: inline-block; padding: 0; color:#fff}

    span.cookie-consent__message {
        padding: 0 20px;
        width: 100%;
        clear: both;
        display: block;
        text-align: center;
        margin: 0 0 10px 0;
    }

    .js-cookie-consent.cookie-consent {
        display: block !important;
        min-height: auto;
        margin: 0 auto;
        text-align: center;
        line-height: 24px;
    }

	/* general */
	.menu-bars{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}
	.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}
	/* The side navigation menu */
	.sidenav {
		height: 100%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 9999999; /* Stay on top */
		top: 0; /* Stay at the top */
		right: 0;
		background-color: #812529; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 60px; /* Place content 60px from the top */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		border-left:1px solid #ddd;
	}

	/* The navigation menu links */
	.sidenav a {
		padding: 12px 8px 12px 32px;
		text-decoration: none;
		font-size: 16px; font-weight:400;
		color: #222;
		display: block;
		transition: 0.3s;
	}

	/* When you mouse over the navigation links, change their color */
	.sidenav a:hover {
		color: #812529;
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		margin-left: 50px; color:#fff; font-size:44px; font-weight:300;
	}
	.sidenav .closebtn:hover { color:#e1cf33;}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
		transition: margin-left .5s;
		padding: 20px;
	}

	/* changes by hasmat */

	.category-box-blk ul li { padding: 0;margin: 0 0px 5px 0;display: inline-block;padding-right: 1px;width: 100%;float: left; }
	.general-box01 .grid-08 { padding: 10px 15px; }
	.general-box01 .latest-update-blk-div .general-grid7 {	padding:0 15px; }


	/* ends of changes */

	.listing-blk-div .card-details .card-name { height:auto;}
	.listing-blk-div .card-img{ height:auto;}
    .listing-blk-div-xs-15{ padding: 0 10px; }



	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
		.sidenav {padding-top: 15px;}
		.sidenav a {font-size: 18px;}
	}



	/* added by aakhil */

	.home-banner-div {display: none;}
	.latest-update-blk-section {display: none;}

	.pagination-div {float: none; text-align: center;display: flex;
        justify-content: center;}

        .card-singleOfferTitle h3.singleOfferTitle-txt {
            font-size: 7px;
            padding: 6px 4px;
            line-height: 9px;
        }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container { width:100% !important;}
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}

	.main-content { margin: 175px 0 0 0;}
	.home-banner-div { margin:0;}

	.m-top-right-div { width: 100%; padding-top: 0; margin-top: -5px;}

	.top-phone { font-size: 14px; margin-top: 5px;}

	.desktop-hidden { display:block;}
	.m-top-phone-div { float:right; width:100%; margin:20px 0; text-align:right;}
	.m-top-sign-nav-div { clear:both; float:right; text-align:right; width:100%;}
	.log-reg-div { text-align:right; display:inline-block; margin-top: 10px;}
	.menu-bar-div{ text-align:right; display:inline-block; position: absolute; top:10px; right:20px;}

	.logo-div {  width:40%;}
	.logo-div img { z-index: 1111;}
	.top-right-blk-div{ float:right; width:100%; margin:10px 0;}
	.top-left-blk{ width:100%; margin: 10px 0 0 0;}
	/*.nav-div, .top-right-div { display:none;}*/
	.top-search-div .search-input { width:82%;}
	header { height:auto;}

	.newsletter-div .newsletter-box { width:80%;}
	.newsletter-div .newsletter-input { width:78%;}
	.footer-div .footer-li { margin-bottom:30px;}
	.footer-div .footer-img-div {  text-align: center;}
	.footer-img-div{ margin-top:30px; text-align:center;}
	.footer-div .footer-img-div span { display: block;  margin: 0 0px 20px 0px;}

	.listing-blk-div .card-details .card-left .price-txt { font-size:14px;}
	.listing-blk-div .card-details { height:80px;}
	.listing-blk-div .card{ height:420px;}
	.listing-blk-links-div .listing-blk-links span{ font-size:14px;}
	.listing-blk-links-div .listing-blk-links ul li { margin-right:20px;}
	.latest-update-blk-section .latest-update-blk-div { margin: 10px 0; }
	.latest-update-blk-section .latest-update-blk-div h3 { font-size: 14px;}
	.book-ticket-blk-div h2 { font-size: 14px;}
	.book-ticket-blk-div .col-input { width: 70%;}

	.detail-booking-box { margin-top: 0;}
	.show-top-img-div .show-top-content { margin-left: 0; top: 220px;left: 0;padding: 0 20px;}
	.show-top-img-div .show-top-content .date-time-div .date-div { width: 50%;}
	.show-top-img-div .show-top-content .date-time-div .time-div { width: 50%;}
	.spl-offers-div .spl-offers-blk-txt .txt-1{ width: 30%; margin: 0 0 10px 0;}
	.spl-offers-div .spl-offers-blk-txt .txt-2, .spl-offers-div .spl-offers-blk-txt .txt-3, .spl-offers-div .spl-offers-blk-txt .txt-4 { width: 23%;}




	/* general */
	.menu-bars{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}
	.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}
	/* The side navigation menu */
	.sidenav {
		height: 100%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 9999999; /* Stay on top */
		top: 0; /* Stay at the top */
		right: 0;
		background-color: #812529; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 60px; /* Place content 60px from the top */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		border-left:1px solid #ddd;
	}

	/* The navigation menu links */
	.sidenav a {
		padding: 12px 8px 12px 32px;
		text-decoration: none;
		font-size: 16px; font-weight:400;
		color: #fff;
		display: block;
		transition: 0.3s;
	}

	/* When you mouse over the navigation links, change their color */
	.sidenav a:hover {
		color: #812529;
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		margin-left: 50px; color:#fff; font-size:44px; font-weight:300;
	}
	.sidenav .closebtn:hover { color:#e1cf33;}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
		transition: margin-left .5s;
		padding: 20px;
	}

	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
		.sidenav {padding-top: 15px;}
		.sidenav a {font-size: 18px;}
	}


	.sidenav .nav-div { padding: 20px 20px 0 20px;}
	.sidenav .nav-div .nav li { margin: 0 0 10px 0; padding: 0 0 10px 0; display: block; width: 100%; float: left; border-bottom:1px solid rgba(255,255,255,0.1);}
	.sidenav .nav-div .nav li a { display: block; font-weight: 500; margin: 0; padding: 0; color:#fff;}
	.sidenav .nav-div .nav li a:hover { border-bottom:0;color:#e1cf33!important;}
	.sidenav .top-right-div {width: 100%;	float: left; text-align: left; padding: 0 20px 0 20px; margin: 0;}
	.sidenav .nav-right-div {width: 100%;	float: left; text-align: left; padding: 0; margin: 0;}
	.sidenav .nav-right-div .nav li{ margin: 0 0 10px 0; padding: 0 0 10px 0; display: block; width: 100%; float: left; border-bottom:1px solid rgba(255,255,255,0.1);}
	.sidenav .nav-right-div .nav li a{ display: block; font-weight: 500; margin: 0; padding: 0; color:#fff;}
	.sidenav .nav-right-div .nav li a:hover{ border-bottom:0; color:#e1cf33!important;}

	.m-log-reg-div { margin: 10px 0 0 0; padding: 0; width: 100%; display: block;}
	.m-log-reg-div .blue-btn {background: #fff; 	margin: 0 auto;		padding: 10px 0;width: 90%;	border-radius: 4px;	display: block;	text-align: center; color:#812529; font-size: 14px;}
	.m-log-reg-div .blue-btn:hover { background: #e1cf33; color:#fff;}
	.m-log-reg-div .welcome-txt{ margin: 0; padding: 20px; width: 100%; color:#fff; font-size: 14px;}
	.m-log-reg-div .welcome-txt a { display: inline-block; padding: 0; color:#e1cf33; font-size: 14px;}
	.m-log-reg-div .welcome-txt a:hover { display: inline-block; padding: 0; color:#fff}

	/* changes by hasmat */

	.category-box-blk ul li { padding: 0;margin: 0 0px 5px 0;display: inline-block;padding-right: 1px;width: 100%;float: left; }
	.general-box01 .latest-update-blk-div .general-grid7 {	padding: 0px 10px 0 0;}
	.theature-div .latest-update-blk-div{ min-height: 100%; }

    /* ends of changes */
    span.cookie-consent__message {
        padding: 0 20px;
        width: 100%;
        clear: both;
        display: block;
        text-align: center;
        margin: 0 0 10px 0;
    }

    .js-cookie-consent.cookie-consent {
        display: block !important;
        min-height: auto;
        margin: 0 auto;
        text-align: center;
        line-height: 24px;
    }


}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {

	.top-left-blk{ width:60%;}
    .top-right-div { width:40%;}


}


@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.eot");
	src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Flaticon.woff") format("woff"),
		 url("../fonts/Flaticon.ttf") format("truetype"),
		 url("../fonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	  font-family: "Flaticon";
	  src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	}
  }

  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
		  font-size: 20px;
  font-style: normal;
  }

  .flaticon-cinema-chair:before { content: "\f100"; }
  .flaticon-gps:before { content: "\f101"; }
  .flaticon-clock:before { content: "\f102"; }
  .flaticon-child:before { content: "\f103"; }

  #load{
    width:100%;
    height:100%;
    position:fixed;
	z-index: 9999999;
	/* background:url("../images/loader.gif") no-repeat center center rgba(0,0,0,0.25); */
	display:none;
	top:0;
}

.a_tag_text {
    color: black;
}
p.help-block {
    color: red;
    font-family: inherit;
}
.seatplan-img-div{
    text-align: center;
}
.seatplan-img
{
    width: 50%;
    height: auto;
}
.seatplan-download:hover{
    cursor: pointer;
}

.bx-pager.bx-default-pager {
    display: none;
}

.bx-wrapper
{
    max-height: 400px;
}



input#category_filter {
    margin: 10px 0 10px 15px;
    width: 90%;
}
/* .listing-blk-div .card-details .card-name {height: auto;} */
.listing-blk-div .card-details .card-name .thumb-img { display: none; height: 50px; width: 50px; float: left; margin-right: 20px;  overflow: hidden;}

.cat-short
{
        display: inline;
        text-align: right;
        width: 35%;

}
.cat-short span {
	float: right;
}

.showlist-theater h3 {
    font-size: 15px;
}

/** Loader Working */

.loader_root_div {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100%;
    z-index: 999;
    margin: 0;
    display: flex;
    padding: 0px 0 0 0;
    align-items:center;
    justify-content: center;
}
.loader_root_div:after {
    position: absolute;
    filter:blur(0.5);
}

.loader_container,
.dot-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.loader_container {
    transform-origin: center;
    animation: anirotate 10s linear infinite;
}

.loader_container .dot-container {
    position: absolute;
    border: 0px solid #fff;
    border-radius: 50px;
}

.loader_container .dot-container:nth-child(2) {
    transform: rotate(40deg);
}

.loader_container .dot-container:nth-child(2) .dot {
    animation-delay: -0.5s;
}

.loader_container .dot-container:nth-child(3) {
    transform: rotate(80deg);
}

.loader_container .dot-container:nth-child(3) .dot {
    animation-delay: -1s;
}

.loader_container .dot {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 5px;
    transform: translate(0, 0);
}

.loader_container .dot:nth-child(1) {
    top: 0;
    left: calc(50% - 5px);
    animation: ani1 2s infinite;
}

.loader_container .dot:nth-child(2) {
    bottom: calc(28% - 5px);
    left: calc(11% - 5px);
    animation: ani2 2s infinite;
}

.loader_container .dot:nth-child(3) {
    bottom: calc(28% - 5px);
    right: calc(11% - 5px);
    animation: ani3 2s infinite;
}

.loader_container [hidden] {
    display: none;
}

@keyframes anirotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-359deg);
    }
}

@keyframes ani1 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-40px, 67px);
    }
}

@keyframes ani2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(77px, 0);
    }
}

@keyframes ani3 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-39px, -67px);
    }
}

/**  End of Loader Working */

/* Offer single */
h3.singleOfferTitle-txt {
    font-size: 11px;
    text-transform: uppercase;
    background-color: #812529;
    padding: 8px;
    text-align: center;
    color: #fff;
    line-height: 11px;
    border-radius: 4px;
    border: 1px solid #fff;
	z-index: 999;
	line-height: 13px;
	box-shadow: 0 0 8px #bebebe
}

.card-singleOfferTitle {
    margin: 0;
    position: absolute;
    top: -37px;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0 10px;
}
.listing-blk-div .card-details .card-name { padding: 15px 0 0 0; }


/*End  Offer single */


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
	.left-box-blk h2 {font-size: 17px;}
    /* Trust Factor */
    #why-book-with-us {
        height: auto;
    }

    #why-book-with-us .inner {
        width: 100%;
        margin: 0 auto;
    }

    #why-book-with-us p.title {
        width: 185px;
        height: 105px;
        text-indent: -9999em;
        position: absolute;
        top: -10px;
        left: 0;
        z-index: 100;
        background: url(../images/sprites.png) 0 -80px no-repeat;
    }

    #why-book-with-us ol li:nth-of-type(1) {
        width: 34%;
    }

    #why-book-with-us ol li {
        font-size: .9em !important;
    }

    #why-book-with-us ol li:nth-of-type(2),
    #why-book-with-us ol li:nth-of-type(3) {
        width: 29%;
    }
    .youtube_video {
        height: 30vh !important;
    }
}


.left-box-blk.text-center.mtop20.clearfix h3 { background: #812529; color: #fff; padding: 10px ; font-weight: 700; text-transform: capitalize; text-align: left;}

.booking-blk-div .cap-txt {width: 55%;}

.btn-category {display: none !important;}

@media (max-width: 767px){

	#category_filter {display: inline-block; width: 75% !important;}
	.btn-category {display: inline-block !important;}

	#category_filter_id {display: none;}
	.catList #category_filter_id.collapse.show {display: block;}

	.collapsed .fa-angle-up:before {content: "\f106" !important;}
	 .fa-angle-up:before {content: "\f107" !important;}

	 .btn-category {background-color: transparent !important; border: 1px solid #ddd !important;}
     .btn-category:focus {box-shadow: none !important;}

    /* Trust Factor */
    #why-book-with-us {
        height: auto !important;
    }
    #why-book-with-us {
        margin-bottom: 1em;
    }
    #why-book-with-us p.title {
        left: 50%;
        margin-left: -96px;
    }
    #why-book-with-us ol {
        margin-left: 0 !important;
        margin-top: 100px !important;
        padding-bottom: 20px !important;
    }
    #why-book-with-us ol,
    #why-book-with-us ol li {
        padding: 0;
        margin: 0;
    }
    #why-book-with-us ol li {
        clear: left;
        width: 100% !important;
    }
    #why-book-with-us ol li {
        clear: left;
        width: 100% !important;
    }

    #why-book-with-us .inner {
        min-width: 240px;
        width: 100% !important;
        float: left;
        clear: left;
        margin: 0 auto;
    }

}

.div-faciliti {width: 110px; float: left;}
.div-faciliti-item {display: inline-block;}
.div-faciliti-item .field-item {padding: 0 5px 0 0; font-size: 14px; color: #666;}

.media-link-facilities h2 span {
    color: #812529 !important;
    font-weight: 700 !important;
    padding-bottom: 5px !important;
	border-bottom: 1px solid #812529 !important;
	white-space: nowrap;
}
.media-link-facilities h2 {padding-top: 10px; font-size: 16px; }
.border_bottom h2 {border-bottom: 1px solid #ddd; padding-bottom: 5px;}
.border_bottom h3 {border-bottom: 1px solid #ddd; padding-bottom: 5px !important;}

.seatplan-img {padding-top: 10px; }
/*
.show-sch-blk-div p {
    border-bottom: 1px solid #812529;
    padding: 5px;
} */

.banner_content {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    color: black;
    height: 100%;
    font-size: 30px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

/*
.show-head-title span {
    color: #812529;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid #812529;
    margin-right: 10px;
    color: #812529;
}
.show-head-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 16px;
} */


.venue-img-section .col-md-6 {
    float: left;
    top: 0;
    text-align: center;
    margin: 0 auto;
}

.man0 {margin-left: 0 !important;}



.venutitle h2 {border-bottom: 0 !important;  font-size: 30px !important; text-transform: capitalize;}
.venutitle h2 span {border-bottom: 0 !important; }
.venutitle p {margin-bottom: 20px !important;}

.venutitle {border-bottom: 1px solid #ddd; padding: 20px; background-color: #fff;}
.venutitle p .fa {margin-right: 8px;}

.venutitle-img {background-image: none; background-repeat: no-repeat;
width: 100%; background-size: cover; position: relative; height: auto;}
.venutitle-img h2 span { color: #fff !Important; z-index: 99;position: relative;  }
.venutitle-img p {color: #fff !Important; z-index: 99;position: relative;}
.venutitle-img:before {content: "";
position: absolute;
top: 0;
left: 0;
background-color: #000;
opacity: .6;
height: 100%;
width: 100%;}

@media only screen and (max-width: 767px){

	.spl-offers-blk-txt {border-bottom: 1px solid #ddd; margin-bottom: 10px !important;}
	.spl-offers-div .spl-offers-blk-txt .txt-1 {margin-bottom: 0;}
	.spl-offers-div .spl-offers-blk-txt .txt-3,.spl-offers-div .spl-offers-blk-txt .txt-2,.spl-offers-div .spl-offers-blk-txt .txt-4 {
	    float: left;
	    width: 22%;
	    text-align: left;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    align-content: center;
        min-height: 120px;
        text-align: center;
	}
}
/* Aprill 15th */


span.old_price {
    font-weight: 100 !important;
}

.fancybox-image-wrap {
    background-color: #fff !important;
}

ul#category_filter_id li a.active {
    border-bottom: 3px solid #812529;
    color: #812529;
}

span.closedshow {
    color: #f00;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px 30px;
}

video.video_of_gallery {
    width: auto;
    height: 150px;
}


.bg-detail-content {
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    color: #666;
    letter-spacing: .6px;
    line-height: 22px;
}

.div-faciliti-item .field-item {color: #666;
letter-spacing: 0.6px; line-height: 22px;}

.div-faciliti {font-weight: 600; color: #666;}
.sp-offer {margin-bottom: 20px;}

.media-link-facilities h2 {margin-bottom: 15px;}
.desk-img{display: block;}
.mobile-img{display: none;}




@media (max-width: 767px){

    /* .show-top-img.mobile-img {
        background: none !important;
        background-color: #812529 !important;
        height: 154px;
    } */
    .show-top-img-div .show-top-content h2 {
        color: #fff;
        margin: 40px 0 30px 0;
    }

    .show-top-img-div .show-top-content {
        margin-left: 0;
        top: 60px;
        left: 0;
        padding: 0 20px;
    }
    .show-top-img-div {
        margin: -60px 0 0 0;
    }
    .inventory__c-quick-search .c-ticket-tile__form--mobile {
        display: block !important;
    }


	.show-sch-blk-div .day-txt {text-align: left;}
	.bx-wrapper {margin-bottom: 20px !important;}

	.spl-offers-div h4 {margin-bottom: 0;}
	.sp-offer {margin-bottom: 15px;}

	.show-detail-page {margin: 165px 0 0 0;}

	.show-top-img-div .show-top-img {background-size: cover !important;  background-position: top center !important;}

	.show-top-img-div .show-top-content {
		justify-content: center;
		align-items: center;
		text-align: center;
        display: flex;
        flex-direction: column;
	}

	.inventory__c-quick-search .c-ticket-tile__form--mobile {background: #fff !important; color: #812529 !important; border: 1px solid #812529;}
	.c-ticket-tile__form-caption div {color: #812529; text-align: left;}
	.c-ticket-tile__form-button--close i {color: #812529;}
	.inventory__c-quick-search .f-select--ticket {border-color: #ddd;}

	.desk-img {display: none;}
	.mobile-img { display: block;}

        .order-mobile-1 {
            -ms-flex-order: 1;
            order: 1;
        }

        .order-mobile-2 {
            -ms-flex-order: 2;
            order: 2;
        }

        .mobile-display-none{ display: none; }

        .spl-order-mobile0 { -ms-flex-order: 0; order: 0;  }
        .spl-order-mobile1 { -ms-flex-order: 1; order: 1;  }
        .spl-order-mobile2 { -ms-flex-order: 2; order: 2;  }
        .spl-order-mobile3 { -ms-flex-order: 3; order: 3;  }
        .spl-order-mobile4 { -ms-flex-order: 4; order: 4;  }
        .spl-order-mobile5 { -ms-flex-order: 5; order: 5;  }
        .spl-order-mobile6 { -ms-flex-order: 6; order: 6;  }
        .spl-order-mobile7 { -ms-flex-order: 7; order: 7;  }
    }



.playing-blk-div .fa {margin-right: 5px;}
.inventory__c-quick-search .t-border-super, .inventory__c-quick-search .t-border-super:active, .inventory__c-quick-search .t-border-super:focus, .inventory__c-quick-search .t-border-super:hover { border-color: #812529 !important; color: #812529; }
.inventory__c-quick-search .t-border-super, .inventory__c-quick-search .t-border-super:active, .inventory__c-quick-search .t-border-super:focus, .inventory__c-quick-search .t-border-super:focus {outline: none !important;}
.inventory__c-quick-search .t-btn-super { background-color: #812529 !important; color: #fff !important;}
.inventory__c-quick-search .f-select:focus {outline: none !important; color: #812529; }
.inventory__c-quick-search .f-label__icon--right {color: #812529;}

.inventory__c-quick-search .flatpickr-months .t-text-super, .inventory__c-quick-search .flatpickr-months .t-text-super:active, .inventory__c-quick-search .flatpickr-months .t-text-super:focus, .inventory__c-quick-search .flatpickr-months .t-text-super:hover {color: #812529 !important;}
.inventory__c-quick-search .t-border-super, .inventory__c-quick-search .t-border-super:active, .inventory__c-quick-search .t-border-super:focus, .inventory__c-quick-search .t-border-super:hover {border-color: #812529 !important; color: #812529;}
.inventory__c-quick-search .f-label__wrapper:focus, .inventory__c-quick-search .f-label__wrapper:hover	 {color: #812529 !important;}

.div-faciliti {margin-bottom: 10px;}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {


	/* For portrait layouts only */
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	/* For landscape layouts only */
	.show-top-img-div .show-top-content {left: 340px !important;}
  }

  .white-box-blk.bookform {
      padding: 0 !important;
  }
#category_filter_id
{
    height: 700px;
    overflow: hidden;
    overflow-y: scroll;
}

span.single-category-title {
    font-size: 25px !important;
}

.priceofr {
    font-size: 19px !important;
}

.dispriceofr
{
    font-size: 17px  !important;
}


/* trust factor */

div#why-book-with-us {
    background: #e9e9e9;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    height: 80px;
    margin-bottom: 20px;
}

.inner {
    position: relative;
    width: 988px;
    padding: 0 10px;
    margin: auto;
}

p.title {
    width: 185px;
    float: left;
    height: 105px;
    text-indent: -9999em;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 100;
    background: url(../images/sprites.png) 0 -80px no-repeat;
}

#why-book-with-us ol li:nth-of-type(1) {
    width: 36%;
}
#why-book-with-us ol li {
    font-size: 14px;
}
#why-book-with-us ol li {
    float: left;
    display: inline-block;
    color: #514f63;
    position: relative;
    margin: 0 .75%;
    line-height: 32px;
    padding: 1em 0;
}

.sprite-why-us-1,
.sprite-why-us-2,
.sprite-why-us-3 {
    width: 37px;
    height: 37px;
    position: absolute;
    left: 0;
    background: url(../images/sprites.png) -45px -40px no-repeat;
}

#why-book-with-us ol li span.reason {
    line-height: 1.3em;
    display: inline-block;
    float: left;
    padding-left: 35px;
    margin-left: 10px;
}

#why-book-with-us ol li:nth-of-type(2),
#why-book-with-us ol li:nth-of-type(3) {
    width: 28%;
}

.sprite-why-us-2 {
    background-position: -84px -40px;
}

#why-book-with-us ol li:nth-of-type(2),
#why-book-with-us ol li:nth-of-type(3) {
    width: 28%;
}

.sprite-why-us-3 {
    background-position: -123px -40px;
}

#why-book-with-us ol {
    margin-left: 200px;
}

.js-cookie-consent.cookie-consent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    color: #fff;
    min-height: 100px;
}

span.cookie-consent__message {
    padding: 0 20px;
}

button.js-cookie-consent-agree.cookie-consent__agree {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    line-height: 20px;
}


.banner_content {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    color: black;
    height: 100%;
    font-size: 30px;
    top: auto;
    left: 0;
    height: 63px;
    bottom: 0px;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-end;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
}

.banner_content p b {
    color: #fff;
}

.banner_content p a {
    color: #fff;
}

.mobile-display-block {
    display: none;
}

.mobile-display-none {
    display: block;
}


.desktop-display-block {
    display: block;
}

.bx-wrapper
{
    margin-bottom: 0px !important;
}



@media (max-width: 767px) {
    .mobile-display-block {
        display: block;
    }
    .mobile-display-none {
        display: none !important;
    }

    .desktop-display-block {
        display: none;
    }
}

.single-category-title-unset-pointer
{
    cursor: default !important;
}

@media only screen and (max-width: 767px) {
    .dispriceofr,
    .priceofr {
        font-size: 15px !important;
    }
    .general-box01
    {
        display:flex;
        flex-direction: column;
    }

    .youtube_video {
        height: 30vh !important;
    }

    .inventory__c-quick-search .c-ticket-tile__form {
        display: block !important;
    }
    .f-form.c-ticket-tile__form.c-ticket-tile__form--mobile {
        display: none !important;
    }

}

.venue_category_filter_div
{
    margin: 0 0 0 0;
}

.top-search-div-venue .search-div
{
    background: #fff !important;
}

.search-input:focus
{
    outline: none !important;
}
#loading {
    display: none;
}

div#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 99;
    align-items: center;
    background-color:rgba(0, 0, 0, 0);
}

.loading_upper_cls
{
    position: relative;
    margin-top: 10px;
}

.record_not_found{
    padding: 40px 0;
    background: #ffff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #812529;
    border: 1px solid #eee;
    border-radius: 6px;
 }

 .youtube_video
 {
     height: 40vh;
 }

 .txt-center
 {
    text-align: center !important;
    margin-top: 5px !important;
 }


.gm-style .review-box {
     display: none !important;
 }


.gm-style .bottom-actions .google-maps-link {
    display: none !important;
}